.my-showings-details-wrapper {
  position: relative;
  width: 60%;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0);
}

.ticket-background {
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

.my-showings-details-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  top: 0%;
  left: 10%;
  right: 10%;
  background-color: rgba(255, 255, 255, 0);
  color: #191c49;
  padding: 20px;
  border-radius: 12px;
  z-index: 2;
  align-items: center;
}

.my-showings-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
}

.left-section {
  width: 60%;
  font-size: 0.8rem;
  line-height: 1.4;
}

.right-section {
  width: 35%;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.4;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 3px;
  height: 200px;
  background-color: #ffffff;
  margin: 0 40px;
  align-items: center;
}

.snacks-and-tickets-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
