.showing-details {
  margin-right: 10px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 60%;
  margin: 20px auto;
}

.showing-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.showing-image {
  width: 120px;
  height: 180px;
  object-fit: cover;
  margin-right: 40px;
  margin-left: 20px;
  border-radius: 2px;
  margin-top: 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

.showing-title {
  font-size: 1.6rem;
  color: #191c49;
  font-weight: bold;
  margin-left: 5px;
  text-transform: uppercase;
}

.showing-title.event-past {
  color: #c1c1c1;
}

.showing-description {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 25px;
  margin-left: 7px;
}

.showing-times {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.showing-time-button {
  margin: 10px;
  padding: 8px 15px;
  background-color: #f2bd36;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.3rem;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.25);
}

.showing-time-button:hover {
  background-color: #ca9c26;
}

.disabled-button {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.sold-out-hour {
  font-size: 15px;
}

.soldout-text {
  margin-top: 2px;
  font-size: 10px;
  line-height: 1;
  color: #b42318;
  font-weight: 600;
}