.ticket-options {
  display: flex;
  flex-direction: column;
  align-items: center; /* <- zmiana z flex-start na center */
  gap: 20px;
}

.ticket-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price {
  margin-left: 20px;
  font-size: 1.1rem;
  display: inline; /* Ustawienie elementu w linii */
  white-space: nowrap; /* Zapobieganie łamaniu tekstu */
}

.ticket-option {
  background-color: white;
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 300px; /* stała szerokość paneli */
  justify-content: space-between;
}

.ticket-option span:first-of-type {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
}

.ticket-option span:nth-of-type(2) {
  width: 30px;
  text-align: center;
}

.ticket-option button {
  width: 35px;
  height: 35px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  background-color: #eff0ff;
  transition: background-color 0.3s;
  cursor: pointer;
}

.ticket-option button:hover {
  background-color: #ddd;
}

/* Przycisk na dole */
.choose-seats-btn {
  margin-top: 20px;
  background-color: #f2bd36;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  display: inline; /* Ustawienie elementu w linii */
  white-space: nowrap; /* Zapobieganie łamaniu tekstu */
}

.choose-seats-btn:hover {
  background-color: #ca9c26;
}

.choose-seats-btn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}
